button.prescribebtn {
    background: transparent;
    line-height: 30px;
    width: 77px;
    color: #09bab1;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    border: 1px solid #09bab1;
    border-radius: 20px;
    margin: 4px 10px 0px 0;
    padding: 0;
    outline:none;
}
.card-body {
    margin-bottom: -5px;
}
.prescribebtn:hover{
background: #09bab1;
color: #fff;
}
button.plus{
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 20px;
    height: 30px;
    width: 30px;
    margin-right: 8px;
    color: #fff;
    background: linear-gradient(to bottom, #20de9e, #08b9b1);
    box-shadow: 0px 1px 16px 3px rgba(109, 117, 113, 0.18);
}
button.plus:hover {
    background: #08b9b1;
}
.cancelbtn{
    border-radius: 50px;
    background: transparent;
    border: 1px solid #909090;
    line-height: 30px;
    font-size: 13px;
    padding: 0 8px 0px 8px;
    color: #909090;
    font-family: Lato;
    font-weight: 500;
    width: 85px;
    outline:none;
}
.cancelbtn:hover{
   background: #909090;
   color:white;
}
.card.cardabc1{
    border: none;
    box-shadow: 1px 1px 20px 4px #edf0fd;
    border-radius: 6px;
    padding: 2px 0px 10px 0;
    margin: -1.5rem 0 1rem 0;
}
input.referdoc:focus {
    box-shadow: none;
} 
.card.cardabc1.custom-card {
    width: 98%;
    margin: 0px auto;
    margin-bottom: 25px;
}
.card.cardabc1.custom-card {
    width: 98%;
    margin: 0px auto;
    margin-bottom: 25px;
}
p.provisionalc21 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top:1em;
    margin-left: 8px;
    color: #8c8db8;
}
button.crossadvice{
    background: transparent;
    outline: none;
    border: none;
    float: right;
    padding: 0;
    margin: 2px 9px 0 0;
}
svg#cancelbtn {
    height: 8px;
    width: 11px;
    fill: #989090;
}
input.referdoc {
    color:#84869d ;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 4px;
}
input.referdoc::-webkit-input-placeholder {
    color:#84869d ;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.radio_btn select {
    border: none;
    width: 98%;
    padding-left: 8px;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #8c8db8;
}

p.provisionalc212 {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-left: 2em;
    padding: 1em 0;
    margin-bottom: 0;
    color: #8c8db8;
}
hr.full_width {
    margin: 0;
}
.allignspace {
    text-align: center;
    padding: 10px 2em;
}
span.error_message2 {
    color: red;
    text-align: left;
    display: block;
    margin-left: 30px;
    font-size: 13px;
    margin-top: 3px;
}
.plus_btn {
    margin: 2em 1.5em 0 0;
}
button.plus:hover{
    background: linear-gradient(to bottom, #5451e8, rgba(56, 145, 239, 0.82));
}

.high {
    padding-bottom: 20px;
    padding-top: 1em;
}

span.errormessage {
    color: red;
    font-size: 13px;
}

.allignspace.text-left {
    text-align: left;
}
