button.prescribebtn {
    margin-right: 10px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid #09bab1;
    line-height: 25px;
    font-size: 13px;
    height:34px;
    padding: 0 8px 0px 8px;
    color: #09bab1;
    font-family: Lato;
    font-weight: 500!important;
    width: 85px;
}
.prescribebtn:focus{
outline:none;
}
.prescribebtn:hover{
background: #09bab1;
color: #fff;
font-family: lato;
font-weight: 600;
}
button.plus:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }
.cancelbtn{
    border-radius: 50px;
    background:transparent;
    border: 1px solid #909090;
    line-height: 25px;
    font-size: 13px;
    height: 34px;
    padding: 0 8px 0px 8px;
    color:#909090;
    font-family: Lato;
    font-weight: 500;
    width: 85px;
}
.cancelbtn:focus{
    outline:none;
}
.cancelbtn:hover{
   background: #909090;
   color:white;
   border:none;
}
.card.cardall{
    border: none;
    box-shadow: 1px 1px 20px 4px #edf0fd;
    border-radius: 6px;
    padding: 20px;
    margin: 1rem 0 1rem 0;
    padding-top:0 !important;
}
.card.carall.custom-card {
    width: 98%;
    margin: 0px auto;
    margin-bottom: 11px;
}
.card.cardall1.custom-card {
    width: 98%;
    margin: 0px auto;
    margin-bottom: 25px;
}
p.provisionalc21 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top:1em;
    margin-left: 8px;
    color: #8c8db8;
}
input.referdoc {
    color:#84869d ;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
input.referdoc::-webkit-input-placeholder {
    color:#84869d ;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
button.crossbtnmed {
    background: transparent;
    outline: none;
    border: none;
    float: right;
    padding: 0;
    margin: 10px -14px 0 0;
}
svg#cancelbtn {
    height: 8px;
    width: 11px;
    fill: #989090;
}
button.plus:hover{
    background: linear-gradient(to bottom, #5451e8, rgba(56, 145, 239, 0.82));
}
.plus_btn {
    margin: 2em 1.5em 0 0;
}
button.plus {
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    color: #fff;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom, #20de9e, #08b9b1);
}
input.referdoc:focus {
    box-shadow: none;
}
.high {
    padding-bottom: 20px;
    padding-top: 1em;
}

.card-body {
    padding-top: 7px;
}

.error_message2 {
    color: red;
    text-align:center;
}
p.errormessage {
    color: red;
}

button.plus{
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 20px;
    height: 30px;
    width: 30px;
    margin-right: 8px;
    color: #fff;
    background: linear-gradient(to bottom, #20de9e, #08b9b1);
    box-shadow: 0px 1px 16px 3px rgba(109, 117, 113, 0.18);
}
button.plus:hover {
    background: #08b9b1;
}
