.nopadding0col{
    padding: 0;
}
.nomaregin0row{
    margin: 0;
}
.nopadding15col{
    padding-left: 0;
}
@media screen and (min-width: 320px) and (max-width: 1024px) 
{
    .nopadding0col{
        padding: 0 15px;
    }
    .nopadding15col{
        padding-left: 15px;
    }
}
