.verticalform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background:green;
    background: linear-gradient(to right,#ffffff9e,#683d9094,#683d90),url('../../assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.leftContent {
    background: #683d90;
    border-radius: 0 50% 50% 0;
    position: absolute;
    top: -45px;
    border-style: inset;
    border-right: 20px solid #8e51b7;
    left: -7em;
    height: 89vh;
    width: 34vw;
}
div#noPadding {
    padding: 0;
}
.loginform {
    height: 100vh;
    overflow: hidden;
}
.leftData {
    position: relative;
}
.leftData h1 {
    color: #fff;
    margin: auto;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.FormContent {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 9px;
    position: relative;
    background: #fff;
    overflow: hidden;
    height: auto;
    width: 58vw;
}
.loginContent {
    /* padding-left: 4em;
    margin-top:6em;
    margin-right: 2em; */
    margin: 18% 8%;
}
.loginContent h1 {
    color: #9151b7;
    font-size: 26px;
    text-align: center;
    margin: 0;
}
.loginContent p {
    text-align: center;
}
.backCover {
    background: #9151b7;
    height: 611px;
    width: 730px;
    float: right;
    position: unset;
    border-radius: 264px 0 0 264px;
    top: 0;
}
.loginRegister {
    text-align: left;
    margin-top: 2em;
}
button.loginbutton {
    border-radius: 50px;
    height: 39px;
    padding: 0 26px;
    margin-top: 1em;
    cursor: pointer;
    letter-spacing: 1px;
    opacity: 0.9;
    outline: none;
    border: none;
    color: #ffffff;
    background: linear-gradient(to right, #7645dd, #e090ec);
    font-family: Lato;
    font-size: 14px;
}
.row.nomargin {
    margin: 0;
}
img.scanner {
    height: 153px;
    width: auto;
    background: #fff;
}
.put {
    position: absolute;
    left: 12vw;
    top: 19vh;
}
a.createaccm {
    text-decoration: none;
    color: #884fb3;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
input.form-control.inputPhone::placeholder {
    font-family: Roboto;
}
input[type="text"]::placeholder {
    color: rgba(101, 99, 99, 0.79);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}
.noaccount p {
    margin: 0;
    font-size: 14px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
}
.noaccount {
    margin-top: 15px;
    text-align: center;
}
input.form-control.inputPhone{
    height: 34px;
    margin: 0px;
    font-style: italic;
    position: relative;
}
i.fa.fa-mobile.right {
    font-size: 22px;
    position: absolute;
    top: 32px;
    right: 0;
    color: #8e51b7;
}
.form-group.phoneDiv {
    position: relative;
}
p.code {
    text-align: center;
    font-size: 18px;
    margin: 7px 0 0 0;
    font-style: italic;
    color: #fcfbfb99;
    font-family: 'Roboto', sans-serif;
}
qrcode {
    margin: 0 1px;
}
img.mefyLogo {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    left: 2em;
}
ul.dropdown-menu.ng-star-inserted li a h5 {
    font-size: 14px !important;
}
svg#otp {
    height: 50px;
    width: 24vw;
}


h1.loginheading {
    font-size: 27px;
    font-family: Lato;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    color: #7846dd;
    margin-bottom: 5px;
    margin-left: 6%;
    margin-top: 3em;
}
p.subtxt {
    font-size: 15px;
    text-align: left;
    font-family: lato;
    font-style: italic;
    color: #333;
    /* text-align: center; */
    margin-left: 6%;
}
@media only screen and (min-width : 1440px) and (max-width : 1920px) {


    .FormContent{
        height:56vh;
       
}
}

@media only screen and (min-width : 320px) and (max-width : 1024px) {
    .leftContent {
        display: none;
    }
    .FormContent{
       
        width: 90%;
        margin: 0 auto;
    }
    h1.loginheading {
        
        margin-top: 1em;
        text-align: center;
    }
    input.form-control.inputPhone.ng-pristine.ng-invalid.ng-touched::placeholder {
        font-size: 12px;
    }
    .loginRegister{
        text-align: center;
       
    }
    p.subtxt {
       
        text-align: center;
    }
    .noaccount p {
      
        text-align: center;
    }

}