<section>
 
    <form action="#" [formGroup]="step5Form" novalidate (keydown)="keyDownFunction($event)">
    <div class="row nomarginrowbtm">
      <p  class="error_message" [ngStyle]="{'font-size':'14px'}">{{message}}</p>
      <input type="text" placeholder="Registration No./Uprn No." name="Name" class="ctmin" formControlName="regNo" [textMask]="{mask: registrationNo, guide: false}">
      <p class="error_message" [ngStyle]="{'font-size':'12px'}" *ngIf="step5FormErrors.regNo.required">Registration Number Can Not Be Empty</p>
    </div>
    <div class="row">
      <div class="mci_input">
    <select class="browser-default" formControlName="authority">
      <option value="" disabled selected>Issuing Authority</option>
      <option value="MCI">MCI</option>
      <!-- <option value="2">MCI</option>
      <option value="3">MCI</option> -->
    </select>
  </div>
    </div>
    <div class="row nomarginrowbtm">
      <!-- <input type="text" placeholder="Body of MCI" name="Name" class="ctmin"  (focusout)="validateAuthority()" [(ngModel)]="authority"> -->
      <ng2-completer placeholder="Body Of MCI"  name="Name"  formControlName="state" [datasource]="stateService"  [minSearchLength]="0"></ng2-completer >
        <p class="error_message" [ngStyle]="{'font-size':'12px'}" *ngIf="step5FormErrors.state.required">Please Select State</p>
    </div>
    <div class="row nomarginrowbtm">
      <input  type="text"  placeholder="Practising Since(Year)" [textMask]="{mask: practisingYear, guide: false}" name="Name" class="ctmin" formControlName="practisingDate" (blur)="comparePracticingYear(step5Form.controls.practisingDate.value)">
       <!-- <input placeholder="Date" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date"> -->
        <p class="error_message" [ngStyle]="{'font-size':'12px'}" *ngIf="step5FormErrors.practisingDate.required">Please Select Practising Year</p>
        <span class="error_message" [ngStyle]="{'-webkit-text-fill-color':'	red','font-size':'12px'}">{{error}}</span>
      </div>
    <div class="row nomarginrowbtm">
        <button type="button" class="loginbtnscrsignup" (click)="createProfile()">Finish</button>
      </div>
    </form>
</section>