<div class="row nomarginrow0">
  <div class="col-md-8 nopaddingleft pdng0">
    <div class="card maincontent">
      <form [formGroup]="doctorDetail">
        <div class="row nomarginrow0">
          <div class="col-md-10 nopadding0col1">
            <div class="input-field col-md-12">
              <p class="reg_no">Registration No./Uprn No.:
              </p>
              <div class="labeloutput">
                <label class="location" for="location">{{doctorpdetail.registrationNumber}}</label>
              </div>
            </div>
          </div>
        </div>

        <div class="input-field col-md-12">
          <p class="labelpf">Name:</p>
          <p class="locationphone">{{doctorpdetail.name}}</p>
        </div>
        <div class="input-field col-md-12">
          <p class="reg_no">Mobile Number:</p>
        </div>
        <div class="abellable">
          <label class="locationphone" for="location">{{doctorpdetail.phoneNumber}}</label>
        </div>
        <div class="input-field col-md-12 speciaity">
          <p class="labelpf">Gender:</p>
          <p class="locationphone">{{doctorpdetail.gender}}</p>
        </div>
        <div class="input-field col-md-12 speciaity locatn">
          <p class="labelpf">Date of Birth:</p>
          <p class="locationphone">{{doctorpdetail.dob}}</p>
        </div>
        <div class="input-field col-md-12 speciaity locatn">
          <p class="labelpf">City:</p>
          <p class="locationphone">{{doctorpdetail.city}}</p>
        </div>
        <div class="input-field col-md-12 speciaity locatn">
          <p class="labelpf">Address:
          </p>
          <span class="chipsdata">{{doctorpdetail.address}}</span><input formControlName="address" id="first_name" id="pac-input"
            type="text">
        </div>
        <div class="input-field col-md-12 speciaity locatn">
          <p class="labelpf">Email:
          </p>
          <span class="chipsdata">{{doctorpdetail.email}}</span><input id="first_name" id="pac-input" type="text"
            formControlName="email">
        </div>
        <div class="row nomarginrow0">
          <div class="col-md-6">
            <p class="labelpf">Speciality:
            </p>
          </div>
        </div>

        <div class="col-md-12 nomarginrw">
          <div class="col-md-12 col-xs-10 nopadding0col1">
            <ul class="list-inline chipsdata">
              <li *ngFor="let list of doctorpdetail.speciality">
                <p class="chipsdata">{{list}}
                </p>
              </li>
            </ul>
            <p></p>
            <p>
              <tag-input formControlName="speciality" (onAdd)="onaAddSpeciality($event)" onlyFromAutocomplete="true"
                placeholder="Speciality" blinkIfDupe="true">
                <tag-input-dropdown [appendToBody]="false" [identifyBy]="'specialityName'" [displayBy]="'specialityName'"
                  [showDropdownIfEmpty]="false" placeholder="Choose speciality" [autocompleteItems]="specialityOfObjects">
                </tag-input-dropdown>
              </tag-input>
            </p>
          </div>
        </div>
        <div class="row nomarginrow0">
            <div class="col-md-6">
              <p class="labelpf">Education:
              </p>
            </div>
          </div>
        <div class="col-md-12 nomarginrw">
            <div class="col-md-12 col-xs-10 nopadding0col1">
              <ul class="list-inline chipsdata">
                <li *ngFor="let edulist of doctorpdetail.education">
                  <p class="chipsdata">{{edulist}}
                  </p>
                </li>
              </ul>
              <p></p>
              <p>
                  <tag-input formControlName="education" (onAdd)="onAddEducation($event)" onlyFromAutocomplete="true"
                  blinkIfDupe="true" placeholder="Education">
                  <tag-input-dropdown [appendToBody]="false" [identifyBy]="'educationName'" [displayBy]="'educationName'"
                    [showDropdownIfEmpty]="false" placeholder="Choose education" [autocompleteItems]="educationOfObjects">
                  </tag-input-dropdown>
                </tag-input>
              </p>
            </div>
          </div>
          <div class="row nomarginrow0">
              <div class="col-md-6">
                <p class="labelpf">Language:
                </p>
              </div>
            </div>
          <div class="col-md-12 nomarginrw">
              <div class="col-md-12 col-xs-10 nopadding0col1">
                <ul class="list-inline chipsdata">
                  <li *ngFor="let langlist of doctorpdetail.language">
                    <p class="chipsdata">{{langlist}}
                    </p>
                  </li>
                </ul>
                <p></p>
                <p>
                    <tag-input  formControlName="language" (onAdd)="onAddLanguage($event)"
                    onlyFromAutocomplete="true" blinkIfDupe="true" placeholder="Language">
                    <tag-input-dropdown [appendToBody]="false" [identifyBy]="'langName'" [displayBy]="'langName'"
                      [showDropdownIfEmpty]="false" placeholder="Choose language" [autocompleteItems]="languageOfObjects">
                    </tag-input-dropdown>
                  </tag-input>
                </p>
              </div>
            </div>


        <div class="input-field col-md-12 speciaity authority">
          <p class="labelpf">Issuing Authority:
          </p>
          <p class="locationphone">{{doctorpdetail.issuingAuthority}}</p>
        </div>


        <div class="input-field col-md-12 speciaity locatn">
          <p class="labelpf">Practicing Since:
          </p>
          <p class="locationphone">{{doctorpdetail.practicingSince}}</p>
        </div>
      </form>
      <!-- </form> -->
      <p class="lastbtn">
        <button type="button" class="btn btn-default" (click)="updateDoctorProfile(doctorpdetail)">Save</button>
        <button type="button" class="cancelbtn">Cancel</button>
      </p>

    </div>
  </div>
  <div class="col-md-4 nopadding0col1">
    <app-rightsidenav></app-rightsidenav>
  </div>
</div>