<!-- **************Advice Followup************** -->
<p class="provisionalc21">Advice followup</p>
<form [formGroup]="followForm" novalidate>
<div class="card cardabc custom-card vert-padding" formArrayName="followinfo" *ngFor="let form of followForm.get('followinfo').controls; let i=index">

    <div class="card-body topspace" >
      <div class="text-right" *ngIf="followForm.controls.followinfo.length !=1" (click)="deleteFollowForm(i)"><i class="fa fa-remove" id="closefllow"></i></div>
      <!-- /* loader */ -->
      <div class="loading" *ngIf="loader">
        <div class="sk-circle">
          <div class="sk-circle1 sk-child"></div>
          <div class="sk-circle2 sk-child"></div>
          <div class="sk-circle3 sk-child"></div>
          <div class="sk-circle4 sk-child"></div>
          <div class="sk-circle5 sk-child"></div>
          <div class="sk-circle6 sk-child"></div>
          <div class="sk-circle7 sk-child"></div>
          <div class="sk-circle8 sk-child"></div>
          <div class="sk-circle9 sk-child"></div>
          <div class="sk-circle10 sk-child"></div>
          <div class="sk-circle11 sk-child"></div>
          <div class="sk-circle12 sk-child"></div>
        </div>
      </div>
      <!-- /* loader */ -->
      <p class="headcard">Revisit schedule</p>
      <!-- <div class="revisit_tabs">
        <div id="exTab2"> -->
          <!-- <div class=""> -->
            <div class="followPadding" [formGroupName]="i">
              <p class="centerDay">{{days}}
                <span>Days</span>
              </p>
              <p class="range-field ">
                <input #myOutput type="range" id="test5" min="0" max="30" (change)="setDay($event,i)" data-show-value="true"
                  data-popup-enabled="true" [(ngModel)]="daysTest" [ngModelOptions]="{standalone: true}" />
              </p>
              <input type="text" placeholder="Referred to another Doctor" class="referdoc" formControlName="referredDoctor">
            </div>
          <!-- </div> -->
        <!-- </div>
      </div> -->
    </div>
  
</div>
</form>
<div class="row">
  <div class="plus_btn pull-right ng-star-inserted">
    <button class="plus" (click)="addFollowForm()" [disabled]="followForm.get('followinfo').invalid">+</button>
  </div>
</div>
<div class="text-center high" *ngIf="hideSave"> 
  <button class="prescribebtn" (click)="createAdvice()">Save</button>
  <!-- <button class="prescribebtn" *ngIf="deleteFollow" (click)="deleteFollowupForm()"  >Delete</button> -->
  <!-- <button class="prescribebtn" *ngIf="updateFollow"  (click)="saveFollowArray()" >Save +</button> -->
  <button class="cancelbtn" (click)="closeForm()">Cancel</button>
</div>
<!-- **************Advice Followup************** -->