<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Page Header start -->
        <div class="page-header-title">
          <h1 class="privacyPolicy">Terms of Service</h1>
          <p>Last updated : 23 FEBRUARY 2018</p>
        </div>
        <!-- Page Header start -->
      </div>
    </div>
  </div>
</section>
<div class="page-privacy-policy">
  <div class="">
    <div class="row">
      <div class="col-md-3">
        <div class="privacy-sidebar">
          <div class="privacy-list">
            <ul>
              <li><a href="#">Eligibility & Registration</a></li>
              <li><a href="#">Nature of Service & Limitations</a></li>
              <li><a href="#">No Doctor-Patient Relationship between Us</a></li>
              <li><a href="#">Not for Medical Emergencies</a></li>
              <li><a href="#">Use of Service</a></li>
              <li><a href="#">Payment for Service</a></li>
              <li><a href="#">Your Data and Information</a></li>
              <li><a href="#">Intellectual Property Rights</a></li>
              <li><a href="#">Changes to Service</a></li>
              <li><a href="#">Third Party Links and Advertisements</a></li>
              <li><a href="#">Warranty Disclaimer</a></li>
              <li><a href="#">Limitation & Exclusion of Liability</a></li>

            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="privacy-content">
          <p>These Terms of Service together with the applicable policies which are incorporated herein by way of
            reference (“these Terms”) govern the access or use of the website www.MeFy.care (“the Website”), the
            application known as ‘MeFy Care’ and ‘MeFy Doctor’ available for download on your communication device
            (“Application” or “App”) and MeFy Edge Clinic together with all the content, tools, facilities and services
            made available through the Website or the App or the Clinic (collectively “the Service”). Therefore, please
            read these Terms very carefully.
            By agreeing to the Terms & Conditions, you are indicating that you have read and understood these Terms and
            agree that these Terms constitute a legal and binding agreement between you and MeFy Information Technology
            Private Limited, Head Office: A3/203, Sunway, Megapolis, Rajiv Gandhi Infotech Park, Phase 3, Hinjewadi,
            Pune – 411057, and Delivery Centre: Module - 104, 106 Webel IT Park, Barjora, Bankura, West Bengal -
            722168, India, (“we”, “us” or “our”). If you do not understand the Terms or if these Terms or any part of
            these Terms is not acceptable to you, please do not access or use the Service or any part thereof. In these
            Terms, “you” / “yours” / “yourself” denotes the natural person who accesses/uses the Service or any part
            thereof.
            We reserve the right to update or modify these Terms at any time in our sole discretion without any prior
            notice to you. If we update or modify these Terms, we will post the revised version of these Terms on the
            Website / App and such revision shall become effective immediately on such posting. It is your
            responsibility to review these Terms periodically for updates / modifications. Your continued access or use
            of any of the Service after any revision becomes effective shall be deemed to constitute your acceptance
            and agreement to be bound by the revised Terms.</p>

          <h3>Eligibility & Registration</h3>
          <p>The access/use of the Service is meant only for persons who are competent to contract as per Indian law.
            If you are not ‘competent to contract’ as per Indian law (i.e. if you have not attained the age of majority
            according to the law to which you are subject, if you are not of sound mind or if you are disqualified from
            contracting by any law to which you are subject), you should not register or access/use the Service or any
            part thereof. If the law applicable to you does not allow you to receive the Services in your territory,
            you should not use this Service. If you are the parent/legal guardian/authorized person acting on behalf of
            a patient, you should disclose the same to us and by registering with us or accessing / using the Service
            on behalf of your ward, you affirm that you have the full and proper authority to represent the patient and
            accept these Terms on his/her behalf. </p>
          <p>To avail of the all the features of the Service, you must download the App from ‘Google Play Store’ or
            ‘Apple Store’ (which are third party applications, the use and access of which will be subject to Google’s
            Terms of Service or Apple’s Terms and Conditions respectively) and install the App onto your communication
            device. To install and/or use the App, you will need a communication device that meets certain technical
            requirements, which may change from time to time, a working internet connection and compatible software,
            for all of which you are solely responsible.</p>
          <p>Once you successfully install the App on your communication device, you have to provide certain
            information about yourself as requested when you attempt to register with us and start using the Service.
            You may be required to authenticate your identity using a one-time password (“OTP”) as a confirmation code,
            which will be transmitted to your mobile number provided to us when you seek to register with us through
            the short message service (“SMS”). If you cannot provide the OTP when required to do so or the
            authentication through the OTP fails, you may not be able to register with us and/or avail of the Service.
            However, you may still be able to access and use the Service always subject to these Terms </p>
          <p>When you register with us and/or access or use the Service, you confirm that you have provided accurate,
            current and complete information about yourself and that you will keep all such information current,
            complete and accurate at all times for as long as you use the Service. All the data and information that
            you provide or that is collected from your access/use of the Service shall be treated and protected in
            accordance with our Privacy Policy, which is deemed a part of these Terms. </p>
          <p>Your registration with us and/or your right to access the Service is personal to you and you may not
            transfer this to anyone else. You may not use anyone else’s account at any time. You understand that anyone
            with access to your communication device may use your account and therefore, you should ensure that you
            have appropriate security measures on your communication device to prevent unauthorized use of your account
            with the Service. You will be solely responsible for any and all activities that occur under your account
            with us and we will not be liable for any loss or damage that may occur as a result of someone else using
            the Service through your account with us or obtaining your personal information from your communication
            device, either with or without your knowledge. If you become aware of any unauthorized use of your account
            with us, please notify us by writing to hello@mefy.care with the title “Unauthorized Use of Account” and we
            will initiate action to stop further access under the said account.</p>
          <p>We reserve the right to terminate your registration and / or refuse to register you or to provide you with
            access to the Service, without notice, if we have reasonable cause to believe that you are in violation of
            or are likely to violate these Terms.
            Grant of License & Reservation of Rights
            We grant you a non-exclusive, personal, non-transferable, revocable, right and license, subject always to
            these Terms to access/use the Service solely for your personal, non-commercial use.
            Except for the limited rights and license granted to you by these Terms, all rights in the Service
            (including all intellectual property rights therein or underlying the same, including in the Website and
            the App) are reserved by us. </p>


          <h3>No Doctor-Patient Relationship between Us</h3>
          <p>We do not practice medicine and do not provide medical consultation. We merely provide a technology
            platform and infrastructure that enables you to connect with participating medical practitioners listed on
            the Service and to use the messaging or communication facilities of the
            Service that are designed to enable you to communicate with others (‘Communication Tools”) to consult with
            a medical practitioner recommended to you.</p>
          <p>Medical practitioners listed on the Service have signed / accepted contracts with us and represented to us
            that they are duly qualified to practice medicine in India and are enrolled on the Medical Register in one
            of the States in India or Medical council of India. While we make reasonable enquiries to confirm the
            veracity of this representation made to us by the medical practitioners, we shall not be responsible for
            any misrepresentation or fraud in this regard. We do not recommend or endorse any medical practitioners or
            make any representations or warranties with respect to the quality of the medical services a medical
            practitioner may provide to you.</p>
          <p>The use of the Service does not create a doctor/patient relationship between you and us. All medical
            consultation shall be provided to you by the concerned medical practitioner directly and as such, the
            medical practitioner you consult with shall be solely responsible for compliance with all requirements
            applicable to his or her professional services provided to you and liable to you for all medical
            consultation, medical advice, diagnosis or treatment recommended or provided to you. We shall not be
            responsible or liable for any defect or deficiency in the medical consultation, diagnosis or treatment
            recommended to you by any medical practitioner. </p>
          <p>Any diet plans or advice or information that may be provided on or through the Service is for information
            only, does not constitute a medical opinion or advice or a diagnosis or treatment and is not a substitute
            for professional medical advice, diagnosis or treatment.</p>
          <p>We are not responsible for the accuracy of the results of any test done through our ‘Anytime Health
            Checkup Machine’ (AHCM). These tests are solely for information purposes to suggest probable risks to users
            having a particular health issue and the results of the tests do not constitute a medical opinion or
            diagnosis. You should consult a medical professional before acting on the results of any such tests.
          </p>


          <h3>Not for Medical Emergencies</h3>
          <p>The Service we provide is NOT for medical emergencies, for life threatening conditions or for when you
            need acute care. You should not disregard or delay to seek medical advice from your physician based on
            anything that appears or is provided to you by or through the Service.
            You should seek emergency help or follow-up care when recommended by a medical practitioner or when you are
            of the opinion that such help or care is prudent in your sole opinion.
            Limitations of Online Consultation and Informed Consent </p>
          <p>When you seek consultation with any medical practitioner using the Communication Tools made available
            through our Service, you understand the limitations and potential risk of online consultations, including
            but not limited to the inability to carry out a physical examination or other extensive investigations;
            delays or failure arising from the disruption of communication devices or Communication Tools; the
            insufficient quality of information transmitted online, lack of access to your medical records or medical
            history amongst others and the inherent risks of breach of privacy associated with sharing your sensitive
            personal information or medical information through the Communication Tools. You take full responsibility
            for ensuring that any information you submit is complete and accurate and understand that the medical
            practitioner
            relies solely on information provided by you. We shall not be responsible for any errors in transmission or
            for the corruption or compromise of any information communicated over telecommunication services.
            Therefore, before sharing any information or acting on any information or advice offered to you by or
            through the Service, you should confirm that you have understood and accept the associated limitations and
            risks and agree that you are not using the Service as a substitute for consultation with your primary care
            physician.</p>
          <p>The transmission, storage and/or retrieval of data and information and the provision of the Service
            through the internet is subject to a variety of factors beyond our reasonable control, including any
            interruption or unavailability of third-party telecommunication services used to host / provide the
            Service. In no event will we be liable for any failure or interruption of the Service, including without
            limitation those failures or interruptions resulting in part or entirely from circumstances beyond our
            reasonable control. </p>
          <p>Without prejudice to the above, a medical practitioner may, in his or her sole discretion and professional
            judgment, determine that the online consultations through the Service are not appropriate for some or all
            of your needs and, accordingly, may elect not to provide services to you through the Service.</p>


          <h3>Use of Service</h3>
          <p>You agree to use the Service (including the Communication Tools) only in accordance with these Terms and
            all applicable laws. You may not use the Service in any manner that could damage, disable, overburden or
            impair our computer systems or interfere with any other party’s use and enjoyment of any Service. You
            should not attempt to gain unauthorized access to any Service. You may not obtain or attempt to obtain any
            materials or information through any means not intentionally made available through the Service. </p>
          <p>Without prejudice to the above, you agree not to host, display, upload, modify, publish, transmit, update
            or share any information that:
            Belongs to another person and to which you do not have any right to;
            Is grossly harmful, harassing, blasphemous defamatory, obscene, pornographic, pedophilic, libelous,
            invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or
            encouraging money laundering or gambling, or otherwise unlawful in any manner whatever;
            Harm minors in any way;
            Infringes any patent, trademark, copyright or other proprietary rights;
            Violates any law for the time being in force;
            Deceives or misleads the addressee about the origin of such messages or communicates any information which
            is grossly offensive or menacing in nature;
            Impersonates another person;
            Contains software viruses or any other computer code, files or programs designed to interrupt, destroy or
            limit the functionality of any computer resource; or
            Threatens the unity, integrity, defense, security or sovereignty of India, friendly relations with foreign
            states, or public order or causes incitement to the commission of any cognizable offence or prevents
            investigation of any offence or is insulting any other nation.</p>
          <p>You are solely responsible for all information you transmit or share using the Communication Tools and we
            are not obliged to monitor the same. However, we reserve the right to review any information or materials
            you share using the Communication Tools and to remove (without notice to you) any information or materials
            that we find, in our sole discretion, violates any applicable law or these Terms. To this extent, you
            hereby waive doctor-patient confidentiality and expressly authorize us to review all information you
            transmit or share using the Communication Tools. In the event of non-compliance with the Terms, we may
            (without notice to you), immediately terminate your registration with us and/or prevent your access or use
            of the Service.</p>

          <h3>Payment for Service </h3>
          <p>Some parts of the Service are chargeable as may be specified from time to time. We will tell you about
            applicable charges for any paid Service and the payment terms presented to you when you use or order a paid
            Service are deemed part of these Terms of Use. As a convenience to you, we also collect payments due to
            medical practitioners, pharmacies and diagnostic laboratories / centers for their services that you avail
            or book through the Service. Subject to receipt of the payments from you, we will be responsible to pass on
            the payments due to these third parties. We reserve the right to change our charges and payment terms at
            any time provided however that the new charges will not be applicable to orders accepted before the change
            is notified. If you don't pay for paid Service on time, we reserve the right to suspend or cancel your
            order for the said Service or to not provide you with the ordered Service. We shall not be responsible for
            any Service that is not provided to you if you fail to pay the applicable charges for the same. Charges
            paid are non-refundable except in our sole discretion.
            We use a third party payment gateway for processing payments due to us. The processing of payments will be
            subject to the terms, conditions and privacy policies of the payment gateway, in addition to these Terms.
            We don’t control and are not liable for the security or performance of the payment gateway. You agree to
            pay us, through the payment gateway, all charges at the rates then in effect for any purchase in accordance
            with the applicable payment terms. We reserve the right to correct, or to instruct our payment gateway to
            correct, any errors or mistakes, even if payment has already been requested or received. </p>

          <h3>Your Data and Information</h3>
          <p>When you register with us and/or access the Service, you will be required to provide certain personal data
            and information about yourself to us. When you access or use the Service, we also collect and store certain
            information and data about you and your access/use. Our Privacy Policy which is available here and explains
            what personal information and data we collect and how we treat your personal data and information and
            protect your privacy. The terms of our Privacy Policy are deemed incorporated in these Terms and forms a
            part of these Terms. Therefore, please read our Privacy Policy carefully. When you access or use the
            Service, you
            consent to the collection and use of your personal data and information in accordance with our Privacy
            Policy.</p>
          <p>Notwithstanding anything contained in these Terms, you hereby permit us to store all information you
            transmit or share using the Communication Tools (including your patient / medical records) and to share the
            same with medical practitioners who you consult with to enable them to render their medical services to
            you. You hereby permit us to transit prescriptions for medicines with pharmacies, including online medical
            pharmacies that refer you to us, to enable them to service your order for the drugs and medicinal
            preparations ordered by you. Subject to the above, all your medical / patient records pertaining to the
            services you avail through the Service shall remain your property. </p>
          <p>through the Service shall remain your property.
            We are requesting for your email address, so we can send you invoices for the transactions you make on MeFy
            Care and also to help you refer your friends and family and therefore earn referral bonus.</p>

          <h3>Intellectual Property Rights</h3>
          <p>We/our licensors own all copyright, trademarks, domain names and other intellectual property rights in or
            related to the Service and all its various components. Except for your personal data and information, all
            information, content and material contained on the Website, the App, MeFy Edge Clinic and/or Service is our
            intellectual property. No information, content or material from any part of the Service may be copied,
            reproduced, republished, uploaded, recorded, posted, transmitted or distributed in any way (including by
            using any automated programs, software, or any other method of screen scraping), except for your personal
            and non-commercial use, without our express written permission.</p>

          <h3>Changes to Service</h3>
          <p>We reserve the sole and complete discretion with respect to the operation of the Service and we may add,
            modify, suspend or discontinue any functionality or feature of the Service or any of the services provided
            by us without any notice to you. </p>

          <h3>Third Party Links and Advertisements </h3>
          <p>The Service may contain links to third party websites/applications and third party advertisements that are
            not maintained or controlled by us. Third party links and advertisements are provided for your convenience
            only and do not imply endorsement or any representation or warranty by us to content, goods or services
            that may be offered by these third parties.
            When you click on any of these third party links, you are leaving the Service and will be subject to the
            terms of use and privacy and security policies of the third party site. You link to any such third party
            website /applications entirely at your own risk.</p>

          <h3>Warranty Disclaimer</h3>
          <p>You acknowledge and agree that your use of the Service is solely at your own risk, and that you assume
            full responsibility for all risks associated therewith. All information, products or services contained on
            or provided through the Service are provided “as is”, without any warranty of any kind, express or implied.
            We do not make any warranty or representation as to the quality,
            quantity, potency, purity, standard, nature or manner of performance of any of the information, products or
            services contained on or provided through the Service. We hereby disclaim, to the maximum extent permitted
            by applicable law, all representations and warranties, express or implied, statutory or otherwise,
            including but not limited to warranties of merchantability, fitness for any particular purpose, title,
            non-infringement, reliability, accuracy, completeness, timeliness or that the availability of the Service
            will be uninterrupted, timely, secure, or error free.</p>

          <h3>Limitation & Exclusion of Liability</h3>
          <p>To the fullest extent permitted by law, in no event will we be liable for any direct, indirect, special,
            incidental, punitive, exemplary or consequential damages, whether or not we have been warned of the
            possibility of such damages. In any event, our total aggregate liability to you, if any, will not exceed
            the charges paid to us by you (if any) for the particular Service. </p>
        </div>
      </div>
    </div>
  </div>
</div>