
  <!-- otp section -->


  <section>
      <div class="row nomarginrowbtm">
            <p class="error_message">{{messagenew}}</p>
            <p class="error_message">{{message}}</p>
      <p class="otprec">Please enter 4 Digit OTP sent to</p>    
      </div>
      <div class="row nomarginrowbtm">
          <p class="mnumber">{{doctorNumber}}</p>  
          <!-- {{dotorNumber}}   -->
         
        </div>
      <div class="row nomarginrowbtm">
          <input type="text" placeholder="Enter OTP" name="mobile" class="ctmin"(focusout)="otpSent()" [(ngModel)]="sentOTP" (keydown.enter)="verifyOTP()">
       </div>
       <div class="row nomarginrowbtm">
           
        <div class="col-md-7 col-xs-7 nomarginrw "><p class="otpresend">Haven't Received OTP yet ?</p></div>
        <div class="col-md-5 nomarginrw"><a class="forgotpsd" (click)="resendOtp()">RESEND</a></div>
        
    </div>
       <div class="row nomarginrowbtm text-center">
          <!-- <div class="col-md-6 "> <button type="button" class="loginbtnscrleft">Previous</button></div> -->
          <div class="col-md-12"> <button type="button" class="loginbtnscr" (click)="verifyOTP()">Submit</button></div>
          
      </div>
      
  </section>