.padding15px{
  padding: 0 15px;
}

.nomarginrw{
  padding: 0;
}

p.genderm {
  color: rgb(68, 67, 67);
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto',sans-serif;

}
.loginscr{
  display: table;
  height: 100vh;
  width: 100%;
}
p.error_message {
 text-align: left;
  color: red;
  font-size: 14px;
}
button.loginbtnscr {
  width: 120px;
  background: #37cdb6;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 5em;
  height: 44px;
  border-radius: 4px;
float: left;
}
section.sign_in {
  margin-top: 5em;
}
button.loginbtnscrsignup {
  width: 120px;
  background: #37cdb6;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 4em;
  height: 44px;
  border-radius: 4px;
float: center;
}
button.loginbtnscrleft {
  width: 120px;
  background: transparent;
  font-weight: bold;
  color: #37cdb6;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 5em;
  height: 44px;
  border-radius: 4px;
  float: right;
  border: 2px solid #37cdb6;
}
.middlewidth {
 width: 80%;
  margin: 0 auto;
}
img.loggo {
  background: #5e77fa;
  height: 50px;
  width: 120px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
}

input.ctmin {
position:relative;
margin-bottom:7px;
  font-size: 14px !important;
  border-bottom: 1px solid #d4dce6;
}
.mtop {
  margin-top: 1em;
}
input.ctmin::-webkit-input-placeholder{
  color:  rgb(68, 67, 67);
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.nomarginrowbtm{
  margin: 0;
}
a.forgotpsd {
  text-decoration: none;
  float: right;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  color: #37cdb6;
}
.noaccount p {
  margin: 0;
  font-size: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.noaccount {
  margin-top: 15px;
}
svg#meme_logologin {
  width: 340px;
  height: 91px;

}
p.hethcare {
  font-size: 25px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
a.createacc {
  text-decoration: none;
  color: #37cdb6;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.remebrme {
  margin-top: 13px;
}
p.gmalef {
  text-align: right;
}
p.otpresend {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  
  color:rgba(99, 96, 96, 0.63);
  font-family: 'Roboto', sans-serif;
}
.gmalef label {
  color: #444343;
  font-weight: 400;
  font-family: 'Roboto',sans-serif;
}
svg#meme_logosign{
  height: 50px;
  margin: 4em 0 0 2em;
  width: 150px;

}
.alreadyregisterd{
  color: #5e77fa;
  background: transparent;
  padding:0;
  border: none;
}
input.calender {
  border-bottom: 1px solid #d4dce6;
}
input.calender::placeholder {
  color: rgb(68, 67, 67) !important;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto',sans-serif;
}
p.error_message_enter {
  text-align: center;
  color: red;
}



@media only screen and (min-width: 320px) and (max-width:1024px){
  .middlewidth[_ngcontent-c1] {
      width: 310px;
  }
  p.gmalef[_ngcontent-c1] {
      text-align: left;
  }

}
