
<section class="sign_in">
  <form action="#" [formGroup]="step1Form" novalidate (keydown)="keyDownFunction($event)">
    <p class="error_message_enter" [ngStyle]="{'font-size':'14px'}">{{messageNew}}</p>
    <p class="error_message" *ngIf="messageExist" >Number Already Registered ! Please <a class="alreadyregisterd" [routerLink]="['/login']">Login !</a></p>
    <!-- *ngIf="messageExist" -->
    <div class="row nomarginrowbtm">
      <input type="text" placeholder="Your Name" name="Name" class="ctmin" formControlName="name">
      <p class="error_message" [ngStyle]="{'font-size':'12px'}" *ngIf="step1FormErrors.name.required">Name Cannot Be Empty</p>
    </div>
    <div class="row nomarginrowbtm">
      <input type="text" placeholder="Mobile Number" name="Name" class="ctmin" [textMask]="{mask: mask, guide: false}" formControlName="phoneNumber"
        minlength="8" >
      <p class="error_message" [ngStyle]="{'font-size':'12px'}" *ngIf="step1FormErrors.phoneNumber.required">Phone Number Cannot Be Empty</p>
      <p class="error_message" [ngStyle]="{'font-size':'12px'}" *ngIf="step1FormErrors.phoneNumber.minlength ">Please Enter Valid Phone Number</p>
    </div>
    <div class="row nomarginrowbtm">
      <input type="text" placeholder="Email" name="Name" class="ctmin" formControlName="email">
      <p class="error_message" [ngStyle]="{'font-size':'12px'}" *ngIf="step1FormErrors.email.required ">Email Cannot Be Empty</p>
      <p class="error_message" [ngStyle]="{'font-size':'12px'}" *ngIf="step1FormErrors.email.email && !step1FormErrors.email.required">Please Enter Valid Email</p>
    </div>
    <div class="row nomarginrowbtm">
      <!-- <input type="text" placeholder="DOB" name="Name" class="ctmin" formControlName="DOB"> -->
      <input  #dp="bsDatepicker" class="calender" bsDatepicker placeholder="Date of Birth"  name="bday" formControlName="dob" [bsConfig]="{  dateInputFormat: 'YYYY-MM-DD' }"  (bsValueChange)="compareDob($event)">
      <p class="error_message" [ngStyle]="{'font-size':'12px'}">{{error}}</p>
      <p class="error_message" [ngStyle]="{'font-size':'12px'}" *ngIf="step1FormErrors.dob.required">Please Enter Valid DOB</p>
     
    </div>
    <div class="row">
      <div class="mtop">
        <div class="col-md-3 col-xs-3 nomarginrw">

          <p class="genderm">Gender</p>
        </div>
        <div class="col-md-5 col-xs-5 nomarginrw">
          <p class="gmalef">
            <input name="gender" type="radio" id="test1" value="Male" formControlName="gender"  />
            <label for="test1">Male</label>
            <span class="error_message" [ngStyle]="{'font-size':'13px'}" *ngIf="step1FormErrors.gender.required">Please Select Gender</span>

          </p>
        </div>
        <div class="col-md-4 col-xs-4 nomarginrw">
            <p class="gmalef">
              <input name="gender" type="radio" id="test2" value="Female" formControlName="gender" />
              <label for="test2">Female</label>
              <span class="error_message" [ngStyle]="{'font-size':'13px'}" *ngIf="step1FormErrors.gender.required">Please Select Gender</span>
            </p>
          </div>
      </div>
    
    </div>
    <div class="row nomarginrowbtm">
      <button type="button" class="loginbtnscrsignup" (click)="step1Data()">Next</button>

    </div>

  </form>
</section>