<div class="row nomargin0row">
  <div class="col-md-8 nopadding0col">
       <!-- /* loader */ -->
       <div class="loading" *ngIf="loader">
          <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
          </div>
        </div>
        <!-- /* loader */ -->
    <div class="row ">
      <div class="col-md-6 pleft6">
        <div class="card topmr">
          <div class="row nomargin0row">
            <div class="col-md-12">
              <ul class="list-inline clinics_have">
                <li>
                  <p class="clinics7">{{doctorDetail.clinic}}</p>
                </li>
                <li>
                  <p class="clinics1">Clinics</p>
                  <p class="clinics1">You Have</p>
                </li>
                <li class="manage_button">
                  <button type="button" class="managebutton" [routerLink]="['/dashboard/clinic']">Manage</button></li>
              </ul>

            </div>
          </div>
          <hr class="linehr">
          <div class="row nomargin0row">
            <div class="respcss">
              <ul class="list-inline clinicsmayhave">
                <li class="postminus" *ngFor="let clinic of clinicList?.slice(0,5)">
                  <span class="cinicsuvisit">
                    <span>{{(clinic?.clinicName).split(' ')[0].split('')[0] + ((clinic?.clinicName).split(' ')[1] ? (clinic?.clinicName).split(' ')[1].split('')[0] : '') | uppercase}}</span></span>
                </li>
                <li class="postminus"  *ngIf="(clinicList?.length) > 5">
                  <button type="btn" class="libtn">
                    <span class="cinicsuvisit6"> +{{(clinicList).slice(6,(clinicList).length).length + 1}}</span>
                  </button>
                </li>
              </ul>
              <!-- <p class="clinics1 spbottom">No Clinic Present</p> -->
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6 nopadding0col6 ">
        <div class="card topmr">
          <div class="row nomargin0row">
            <div class="col-md-12">
              <ul class="list-inline clinics_have">
                <li>
                  <p class="clinics7">{{doctorDetail.eConsultPatient}}</p>
                </li>
                <li>
                  <p class="clinics1">Today's</p>
                  <p class="clinics1">eConsult</p>
                </li>
                <li class="manage_button">
                  <button type="button" class="managebutton" (click)="getConsultType('eConsult')">Manage</button>
                </li>
              </ul>
            </div>
          </div>
          <hr class="linehr">
          <div class="respcss4">
            <div class="row">
              <!-- <ul class="list-inline clinicsmayhave">
                <li class="postminus">
                  <span class="cinicsuvisit">
                  </span>
                </li>
                <li class="postminus">
                  <button type="btn" class="libtn">
                    <span class="cinicsuvisit6">
                      k
                    </span>
                  </button>
                </li>
              </ul> -->
              <span class="clinics1 spbottom">No appointments for today</span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pleft6">
        <div class="card minheight">
          <div class="row nomargin0row">
            <div class="col-md-12">
              <ul class="list-inline clinics_have">
                <li>
                  <p class="clinics7">{{doctorDetail.clincVistPatient}}</p>
                </li>
                <li>
                  <p class="clinics1">Today's</p>
                  <p class="clinics1">Clinic visits</p>
                </li>
                <li class="manage_button">
                  <button type="button" class="managebutton" (click)="getConsultType('visit')">Manage</button>
                </li>
              </ul>
            </div>
          </div>
          <hr class="linehr">
          <div class="respcss4">
            <div class="row">
              <ul class="list-inline clinicsmayhave">
                <li class="postminus">
                  <span class="cinicsuvisit">k
                  </span>
                </li>
                <li class="postminus2">
                  <button type="btn" class="libtn">
                    <span class="cinicsuvisit6">k</span>
                  </button>
                </li>
              </ul> -->
              <span class="clinics1 spbottom">No appointments for today</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 nopadding0col6">
        <div class="card minheight">
          <div class="row nomargin0row">
            <div class="col-md-12">
              <ul class="list-inline clinics_have view_right">
                <li>
                  <p class="clinics74">0</p>
                  <p class="digit_estimate">(approx)</p>
                </li>
                <li>
                  <p class="clinics1">Today's</p>
                  <p class="clinics1">Transactions</p>
                </li>
                <li class="manage_button view_button">
                  <button type="button" class="managebutton">View all</button>
                </li>
              </ul>
            </div>
          </div>

          <!-- <p class="spbottomsdg" [ngStyle]="{'text-align':'center'}">No Transaction For Today</p> -->
          <div class="cardbot">
              <hr class="linehra">
            <div class="row nomargin0row">
              <div class="col-md-3 col-xs-3 nopadding0col">
                <div class="profileimg topalignimg">
                    <img src="assets/images/user2.jpg" class="img-responsive"  [hidden]="individualDetails?.profileImage">
                    <img [src]="imgUrlPrefix" class="img-responsive" [hidden]="!individualDetails?.profileImage">
                </div>
              </div>
              <div class="col-md-9 col-xs-9 nopadding0col">
                <div class="nameofuser1">
                  <p class="transactn_holder">John Doe</p>
                  <ul class="list-inline succes">
                    <li>
                      <span class="rssign">₹</span>
                      <span class="amnt">200</span>
                    </li>
                  </ul>
                  <ul class="list-inline succes">
                    <li class="bdrafter">
                      <span class="rupees1">{{date | date}}</span>
                    </li>
                    <li>
                      <span class="rupees">TXN ID 42589675895</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 nopadding0col">
    <app-rightsidenav></app-rightsidenav>
  </div>
</div>